body {
	font-family: 'Geo', sans-serif;
	background-color: black;
	width: 940px;
	margin: 0 auto;
    text-align: center;
}

#content {
	min-height: 480px;
	text-align: center;
}

.clear {
	clear: both;
}
#sokoban h3,
#sokoban p {
	padding: 16px;
	color: white;
}
#sokoban div {
	width: 20px;
	height: 20px;
	float: left;
}
#sokoban div.wall {
	background: url(../dark-images/wall.gif) no-repeat left top;
}
#sokoban div.floor {
	background: url(../dark-images/floor.gif) no-repeat left top;
}
#sokoban div.sprite {
	background: url(../dark-images/sprite.gif) no-repeat left top;
}
#sokoban div.box {
	background: url(../dark-images/box.gif) no-repeat left top;
}
#sokoban div.goal {
	background: url(../dark-images/goal.gif) no-repeat left top;
}
#sokoban div.sprite-on-goal {
	background: url(../dark-images/sprite-on-goal.gif) no-repeat left top;
}
#sokoban div.box-on-goal {
	background: url(../dark-images/box-on-goal.gif) no-repeat left top;
}
#sokoban div.door {
	background: url(../dark-images/door.gif) no-repeat left top;
}
#sokoban div.closed {
	background: url(../dark-images/closed-door.gif) no-repeat left top;
}
#sokoban div.red-key {
	background: url(../dark-images/red-key.gif) no-repeat left top;
}
#sokoban div.green-key {
	background: url(../dark-images/green-key.gif) no-repeat left top;
}
#sokoban div.blue-key {
	background: url(../dark-images/blue-key.gif) no-repeat left top;
}
#sokoban div.red-door {
	background: url(../dark-images/red-door.gif) no-repeat left top;
}
#sokoban div.green-door {
	background: url(../dark-images/green-door.gif) no-repeat left top;
}
#sokoban div.blue-door {
	background: url(../dark-images/blue-door.gif) no-repeat left top;
}

#twitter {
	line-height: 350%;
	text-decoration: none;
	color: white;
}

#twitter span {
	line-height: 200%;
}

#message {
	margin: 16px;
	padding: 16px;
	display: block;
	background: #ffea2f;
	float: none;
}