body {
	font-family: 'Geo', sans-serif;
	background-color: black;
	margin: 0;
}

#topbar {
	background-color: #ffea2f;
	color: black;
	margin: 0;
	padding: 8px;
	font-size: 12pt;
}

#message {
	padding: 0 24px;
}

#topbar div.inner {
	width: 940px;
	margin: 0 auto;
}

#socialbar {
	height: 40px;
	width: 940px;
	margin: 120px auto 0 auto;
	bottom: 0;
}

#twitter {
	height: 40px;
	width: 180px;
	float: left;
	text-align: right;
	margin: 0;
	padding: 0;
}

#twitter a {
	color: gray;
	font-family: Helvetica, sans-serif;
	font-size: 9pt;
	text-decoration: none;
}
#twitter img {
	margin: 0 8px;
	vertical-align: text-bottom;
}

#splashscreen,
#content {
	width: 940px;
	margin: 0 auto;
	text-align: center;
}

#splashscreen {
	color: #ffea2f;
	font-size: 160%;
}
#splashscreen a {
	color: black;
	background-color: #ffea2f;
	padding: 10px 20px;
	text-decoration: none;
}

#sokoban {
	min-height: 480px;
	text-align: center;
	margin: 0 auto;
}

.clear {
	clear: both;
}
#sokoban p {
	padding: 16px;
	color: white;
}
#sokoban div {
	width: 20px;
	height: 20px;
	float: left;
}
#sokoban div.wall {
	background: url(../dark-images/wall.gif) no-repeat left top;
}
#sokoban div.floor {
	/* background: url(../dark-images/floor.gif) no-repeat left top; */
}
#sokoban div.sprite {
	background: url(../dark-images/sprite.gif) no-repeat left top;
}
#sokoban div.box {
	background: url(../dark-images/box.gif) no-repeat left top;
}
#sokoban div.goal {
	background: url(../dark-images/goal.gif) no-repeat left top;
}
#sokoban div.sprite-on-goal {
	background: url(../dark-images/sprite-on-goal.gif) no-repeat left top;
}
#sokoban div.box-on-goal {
	background: url(../dark-images/box-on-goal.gif) no-repeat left top;
}
/*
#sokoban div.door {
	background: url(../dark-images/door.gif) no-repeat left top;
}
#sokoban div.closed {
	background: url(../dark-images/closed-door.gif) no-repeat left top;
}
#sokoban div.red-key {
	background: url(../dark-images/red-key.gif) no-repeat left top;
}
#sokoban div.green-key {
	background: url(../dark-images/green-key.gif) no-repeat left top;
}
#sokoban div.blue-key {
	background: url(../dark-images/blue-key.gif) no-repeat left top;
}
#sokoban div.red-door {
	background: url(../dark-images/red-door.gif) no-repeat left top;
}
#sokoban div.green-door {
	background: url(../dark-images/green-door.gif) no-repeat left top;
}
#sokoban div.blue-door {
	background: url(../dark-images/blue-door.gif) no-repeat left top;
}
*/
